/**
 * Fullcalendar
 * Polymer
 * Ember.js
 * localstorage
 */


 html{
   height: 100%;
 }

 body{
     font-family: "Helvetica";
     margin: 0;
     background-image: url('../img/wood2b.jpg');
     color: #191919;
     min-height: 100%;
     text-align: center;
 }

#controls {
    height: 50px;
    width: 1366px;

    /* the only use of this is to get the button to show properly */
    position: relative;
}

.toolbar-button {
    position: absolute;
    top: 13px;
    width: 72px;  /* to prevent change when turns to calendat button */

    text-align:center;
    color: #333333;
    font-size: 95%;

    padding: 3px 15px 3px 15px;
    background-color: rgba(231,174,92,.8);
    border-radius: 5px;
    border: 1px solid black;

    font-weight: bold;
    cursor:pointer;
}

.toolbar-button:hover {
    box-shadow: 1px 1px 5px 0px black;
    background-color: rgba(231,174,92,.9);
}

#left-button {
    left: 14px;
}

#right-button {
    right: 14px;
}


#settings, #calendar, #tasks-summary, #todo-lists-area {
    float: left;
    height: 100%;
}



#settings {
    width: 344px;
    background-color: lightblue;
}

#calendar {
    width: 1022px;
    background-color: white;
    overflow: hidden;
    transition: all .4s;
}

#c1, #c2, #c3 {
    float: left;
    height: 100%;
}

#agenda-calendar {
    height: 35%;
    overflow: hidden;
    border-bottom: thin solid black;
    font-size: 9px;
    text-align: center;
}

#agenda-calendar .mini-cal {
    margin-left: 70px;
}

#agenda-wrapper {
    width: 104%;
    height: 65%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#agenda-wrapper th, #agenda-wrapper td {
    border-top: thin solid lightgrey;
}

#agenda-wrapper td {
    height: 20px;
}

#agenda-wrapper th {
    vertical-align: top;
    text-align: right;
    width: 45px;
    height: 100%;
}

#agenda-wrapper table {
    width: 322px;
    background-collapse: collapse;
    background-color: white;
}

#calendar-headers {
    text-align: center;
}

#calendar-wrapper {
    width: 104%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#c1 table {
    width: 1022px;
    border-collapse: collapse;
}

#calendar-wrapper table tr {
    height: 120px;
}

.day1 {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.week1 {
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.regular {
    border: 1px solid black;
}

#c1 td {
    width: 118px;
    padding: 5px;
    margin: 0px;
    background-color: white;
    vertical-align: top;
}

#agenda {
    height: 100%;
    width: 322px;
    background-color: white;
}


#todo-lists-area-wrapper {
    height: 100%;
   /* overflow-x: hidden; */
   float: left;
   position: relative;
}

#todo-lists-area {
    width: 700px;
    padding-left: 5px;
    /*padding-top: 3px; */
    position: absolute;
    top:3px;
}

.todo-lists-column{
    display: inline-block;
    width: 50%;
}

#tasks-summary{
    /*overflow-x: hidden; */
}

#contextual-list {
    height: 200px;
    width: 90%;
    margin: 10px;
}

#main-list {
    height: auto;
    width: 90%;
    margin: 10px;
}

#new-todo {
    margin: 10px;
}





/*            ANTOINE               */





.todolist{
    display: inline-block;
    vertical-align: top;
    width:344px;
    margin-right: 2px;
    padding-bottom: 48px;

    background-color: rgba(250,240,240,.3);

    border-radius: 7px;
    padding-top: 9px;
    box-shadow: 1px 1px 6px 1px black;

    font-size: 90%; 

    /* the only use of this is to get the trashbin to display correctly */
    position: relative;
}

#tasks-summary .todolist{
    border-radius: 0;
    height: 100%;
}

.todolist .trashbin{
    position: absolute;
    right: 6px;
    bottom: 6px;

    visibility: hidden;
}

.item{  
    cursor: pointer;
    min-height: 23px;

    /* the only use of this is to get the icons inside to display correctly */
    position: relative;
}

.text2{
    margin-bottom: 1px;
}

.rect1{
    border-bottom: 1px solid RGBA(76,26,0,.5);
    margin-bottom: 3px;
}

.rect2{
    margin-bottom: 7px;
    box-shadow: 1px 1px 5px 1px black;
}

.item .contenteditable{
    cursor: text;
    outline: 0px;

/*  Can't do that, otherwise item size won't adjust ot amount of text
    position: absolute;
    top: 3px;
    left: 22px;*/

    max-width: 260px;

    display: inline-block;
    padding-top: 4px;
    margin-left: 17px;
    margin-right: 5px;

    /* to facilitate editing item by clicking on it*/
    padding-right: 10px;
    min-width: 50px;
    min-height: 19px;
}

.item .checkbox{
    width: 17px;
    height: 23px;

    position: absolute;
    top: 0;
    left: 0;
}

.checkbox .square{
    width: 8px;
    height: 8px;
    margin: 4px;
    margin-top: 7px;
    border: 1px solid #444444;
}

.checkbox .checkmark{
    display: none;
    margin-left: 4px;
    margin-top: 4px;
}

.newItem{
    color: #333333;
    font-style: italic;
    padding: 3px;
    padding-left: 21px;
    padding-top: 4px;
}

/* this is the only way I found to prevent a empty line
in a newly created item */
.contenteditable br{
    display: none;
}

.item .pin{
    position: absolute;
    right: 4px;
    top: 4px;
}

.item .dateTimeIcon{
    position: absolute;
    right: 26px;
    top: 4px;
}

.item .hiddenIcon{
    visibility: hidden;
}

.item .dialogueElement{
    position: absolute;
    right: 0;
    width: 22px;
    background-color: inherit;

    z-index: 5;
    visibility: hidden;

    /* to display symbol in center of div */
    text-align: center;
    line-height: 24px;
}

.item .dialogue{
    top: -24px;     /* will be animated to -24px */
    height: 71px;   /* will be animated to 71px */
}


.item .setImportance{
    top: 0px;      /* will be animated to -24px */
    height: 24px;   /* will be animated to 24px */ 
    box-shadow: -1px -1px 4px -1px gray;
}

.item .createSubtask{
    top: 47px;
    height: 24px;  /* will be animated to 24px */
    box-shadow: -1px 1px 5px -1px gray;
}

.opacityButton{
    opacity:.6;
    /* z-index: 10;   dynamically modified */
}

.opacityButton:hover{
    opacity:1;
}


