/**
 * Fullcalendar
 * Polymer
 * Ember.js
 * localstorage
 */

/*@font-face{
    font-family: 'woodcut';
    src: url('woodcut.ttf');
}

@font-face {
    font-family: 'AWConquerorCarved-Regular';
    src: url('AWConquerorCarved-Regular.otf');
}

@font-face {
    font-family: 'AWConquerorSans-Light';
    src: url('AWConquerorSans-Light.otf');
}*/

html{
   height: 100%;
}

body{
     font-family: "Helvetica";
     margin: 0;
     background-image: url('../img/wood2b.jpg');
     color: #191919;
     min-height: 100%;
     text-align: center;

     /* necessary to prevent scrollbars to appear,
     otherwise it will mess up the layout */
     overflow: hidden;
}

 /*////////////////       toolbar         /////////////*/


#controls {
    height: 50px;
    width: 1366px;

    /* the only use of this is to get the button to show properly */
    position: relative;
}

.toolbar-button {
    position: absolute;
    top: 13px;
    
    text-align:center;
    color: #333333;
    font-size: 95%;

    padding: 3px 15px 3px 15px;
    background-color: rgba(231,174,92,.75);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px black;

    font-weight: bold;
    cursor:pointer;
}

.toolbar-button:hover {
    box-shadow: 1px 1px 5px 1px black;
    background-color: rgba(231,174,92,.95);
}

#left-button {
    left: 14px;
    width: 72px;  /* to prevent change when turns to calendat button */
}

#calendar-buttons{
    position: absolute;
    left: 292px;
    width: 688px;
}

#year{
    position: absolute;
    top: 9px;   /* 6 */
    left: -103px;   /* -476 -107 */

    color: #333333;
    font-weight: bold;
    /*font-size: 116%;
    font-family: 'AWConquerorCarved-Regular';*/

    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 13px;
    padding-right: 13px;
    /*border-radius: 5px;*/

    background-color: rgba(255,255,255,.8);
    border-top: 5px solid rgba(255,0,0,.8);

    /*background-color: rgba(255,255,255,.85);
    border-top: 8px solid rgba(255,0,0,.85);
    box-shadow: 1px 1px 5px 0px black;*/
}

#month-button, #week-button{
    text-align: center;
    width: 115px;
    border-radius: 0;
}

#week-button{
    left: 0px;
}

#month-button{
    left: 146px;
}

#show-hide-calendar-events{
    position: absolute;
    top: 13px;
    left: 461px;   /* 320 342 */
    padding: 4px 15px 3px 0px;
    
    color: #333333;
    font-size: 95%;

    border-radius: 30px;
    background-color: rgba(255,255,255,.65); 
}

#show-hide-calendar-events input{
    margin-left: 12px;
    margin-right: 10px;
}

#previous-period-button, #next-period-button{
    padding-left: 9px;
    padding-right: 9px;
}

#previous-period-button{
    border-radius: 15px 0px 0px 15px;
    right: 28px;
}

#next-period-button{
    border-radius: 0px 15px 15px 0px;
    right: 0;
}

#settings-button {
    right: 142px;
    height: 17px;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

#right-button {
    right: 14px;
    width: 72px;  /* to prevent change when turns to calendat button */
    border-radius: 5px 15px 15px 5px;
}

#todolists-buttons {
    position: absolute;
    left: 674px;
    width: 451px;

    display: none;
}

#search-box{
    left: 0;
    position: absolute;
    width: 326px;
    top: 13px;
    padding: 3px 5px 4px 5px;
    text-align: left;
    font-style: italic;
    font-size: 95%;
    
    color: #333333;
    background-color: rgba(255,255,255,.8);
}

#search-box:hover{
    box-shadow: 1px 1px 5px 0px black;
}

#newlist-button{
    right: 0;
    width: 72px;
}


/*////////////////       options         /////////////*/


#options, #calendar, #tasks-summary, #todo-lists-area {
    float: left;
    height: 100%;
}

#options{
    background-color: rgba(250,240,240,.3);
    box-shadow:  1px 1px 8px -1px black;
    /*to get the shadow to display on calendar*/
    position: relative; 
    /*width: 292px; */
}

#options-calendar {
    height: 257px;
    overflow: hidden;
    font-size: 10px;
    text-align: center;
}

#options-calendar .mini-cal {
    margin-left: 40px;
    margin-top: 32px;
}

#options-content {
    width: 344px;
}

#options-content div, #options-content input{
    margin-bottom: 20px;
}

#options-content input{
    margin-left: 44px;
}

#options .section-header{
    margin-left: 40px;
    padding: 3px;
    padding-left: 30px;
    width: 218px;
    background-color: rgba(255,255,255,.6);
}

#options-content input{
    margin-right: 10px;
}



/*////////////////       calendar         /////////////*/


#calendar {
    width: 1022px;
    overflow: hidden;
    transition: all .8s;
    transition-timing-function: ease;
}

#c1, #c2, #c3 {
    float: left;
    height: 100%;
}

#calendar-headers {
    text-align: center;
    box-shadow: 0px 1px 5px 1px gray;
    margin-bottom: 1px;

    background-color: rgba(255,255,255,.9); 

    /* just to see the shadow */
    position: relative;
    z-index: 2;
}

#calendar-wrapper {
    width: 104%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    background-color: rgba(255,255,255,.9);
    margin-top: -1px;   /* looks better */
}

.weekend {
    background-color: rgba(225,225,225,.4);
}

/* both .cal-event and .cal-deadline */
.cal-item {
    font-size: 12px;
    margin-bottom: 3px;

    /* just to get the reminder icon to display poperly */
    position: relative;
}

.cal-item .setReminder{
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 2;
}

.cal-event .setReminder{
    top: 2px;
}

.cal-deadline .setReminder{
    top: -1px;
}

.cal-event {
    padding: 2px;
    padding-left: 3px;
}

.cal-deadline {
    border-bottom: 1px solid red;
    margin-left: 16px;
    height: 14px;
    margin-bottom: 3px;
}

#c1 table {
    width: 1022px;
    border-collapse: collapse;
}

#calendar-wrapper table tr {
    height: 113px;
}

#calendar-headers td {
    padding: 5px;
}

.day{
    margin:3px;
    margin-bottom: 2px;
}

.new-month{
    color: #333333;
    font-weight: bold;
    height: 19px; /* otherwise bold -> too big */
}

.day1 {
    border-top: 2px solid #333333;
    border-left: 2px solid #333333;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.week1 {
    border-top: 2px solid #333333;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.regular {
    border: 1px solid black;
}

.noLeftBorder{
    border-left: none;
}

.noRightBorder{
    border-right: none;
}

#c1 td {
    width: 118px;
    margin: 0px;
    vertical-align: top;
}

#c3 {
    background-color: rgba(255,255,255,.93);
}

/*////////////////       agenda         /////////////*/

#agenda {
    height: 100%;
    width: 322px;
    background-color: white;
}

#agenda-calendar {
    height: 183px;
    overflow: hidden;
    border-bottom: thin solid black;
    font-size: 9px;
    text-align: center;
}

#agenda-calendar .mini-cal {
    margin-left: 30px;
    margin-top: 17px;
}

.ui-datepicker-inline{
    /* dirty fix to prevent it from spilling content */
    overflow: hidden;
    width: 250px;
}

.ui-widget{
    border: none;
}

.ui-widget-header{
    border: none;
}
.ui-widget-content{
    background: none;
}
#agenda-wrapper {
    width: 104%;
    /*height: 65%;*/
    overflow-x: hidden;
    overflow-y: scroll;
}

#agenda-wrapper th, #agenda-wrapper td {
    border-top: thin solid lightgrey;
}

#agenda-wrapper td {
    height: 20px;
}

#agenda-wrapper th {
    vertical-align: top;
    text-align: right;
    width: 45px;
    padding-top: 12px;
}

#agenda-wrapper table {
    width: 322px;
    background-collapse: collapse;
}


/*  /////////////  Task summary  ///////// */


#tasks-summary{
    overflow-y: hidden;
    box-shadow:  1px 1px 8px -1px black;

    /* Just to get the shadow to be displayed on the calendar */
    position: relative;
    z-index: 5;
}

#next-up{
    text-align: center;
    box-shadow: -1px 1px 5px 0px black;
    background-color: rgba(255,255,255,.9);
    height: 29px;
    line-height: 29px;

    position: relative;
    z-index: 5;
}

#next-up-countdown{
    display: inline-block;
}

#next-up .cal-event{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-left: 20px;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;

    background-color: rgba(164,189,252,.8);
}

#contextual-list {
    height: 150px;
    padding-top: 5px;
    background-color: rgba(255,255,255,.5);

    /* just to get the controls to display properly */
    position: relative;
} 

#contextual-list-inner-wrapper {
    overflow-y: hidden;
    height: 121px; 
}

.deadline{
    min-height: 23px;
    font-size: 90%;
    margin-bottom: 1px;

    /* the only use of this is to get the icons inside to display correctly */
    position: relative;
}

.deadline .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #333333;

    position: absolute;
    left: 4px;
    top: 7px;
}

.cal-deadline .dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid #333333;

    position: absolute;
   /* left: 0px;
    top: 9px; */
    left: -14px;
    top: 3px;
}

.deadline .description{
    max-width: 260px;
    display: inline-block;
    padding-top: 4px;
    margin-left: 19px;
    margin-right: 5px;
    padding-right: 10px;
    min-width: 50px;
    min-height: 19px;
}

.deadline .dateTimeField{
    right: 9px;
    top: 4px;
}

#switch-ordering-button{
    position: absolute;
    bottom: 5px;
    right: 10px;

    width: 16px;
    text-align: center;
    font-weight: bold;
}

#remaining-items{
    position: absolute;
    bottom: 8px;
    right: 8px;

    text-align: center;
    width: 342px;

    font-size: 90%;
    font-style: italic;
    cursor: help;
}

#resize-bar {
    position: absolute;
    bottom: 0;
    width: 100%;

    text-align: center;
    height: 3px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    background-color: rgba(255,255,255,.5);
}

#main-list-wrapper {
   height: 100%;
   overflow-y: hidden;

   background-color: rgba(250,240,240,.3);

   /* just to get the main-list to display properly */
   position: relative;
}

#main-list {
    position: absolute;
    top:0px;
    box-shadow: none;
}

/*////////////////       todo-lists         /////////////*/


#todo-lists-area-wrapper {
   height: 100%;
   /*overflow-y: hidden;  why??? */
   float: left;
   position: relative;
}

#todo-lists-area {
    width: 700px;
    padding-left: 8px;
    position: absolute;
    top:3px;   /* to see the shadows casted by first lists */
}

.todo-lists-column{
    width: 349px;
    display: inline-block;
    vertical-align: top;
}




/*            ANTOINE               */





.todolist{
    display: inline-block;
    vertical-align: top;
    width:342px;
    margin-bottom: 10px;
    padding-bottom: 40px;

    border-radius: 7px;
    padding-top: 9px;
    box-shadow:  1px 1px 8px -1px black;

    /* the only use of this is to get the trashbin to display correctly */
    position: relative;
}

#temporary-list-for-draggable-items{
    font-size: 90%; 
    text-align: left;
}

.todolist .trashbin{
    position: absolute;
    right: 6px;
    bottom: 6px;

    visibility: hidden;
}

.todolist .listName{
    text-align: center;
    font-size: 114%;  /* 125% */
    font-family: cursive;
    color: #333333;

    margin-bottom: 7px;
}

.item{  
    cursor: pointer;
    min-height: 23px;

    font-size: 90%;
    text-align: left;

    /* the only use of this is to get the icons inside to display correctly */
    position: relative;
}

.text2{
    margin-bottom: 1px;
}

.todo-lists-column .todolist .text2{
    margin-bottom: 0;
}

.rect1{
    border-bottom: 1px solid RGBA(76,26,0,.5);
    margin-bottom: 3px;
}

.rect2{
    margin-bottom: 7px;
    box-shadow: 1px 1px 5px 1px black;
}

.contenteditable{
    cursor: text;
    outline: 0px;
}

.item .description{

/*  Can't do that, otherwise item size won't adjust ot amount of text
    position: absolute;
    top: 3px;
    left: 22px;*/

    max-width: 260px;

    display: inline-block;
    padding-top: 4px;
    margin-left: 17px;
    margin-right: 5px;

    /* to facilitate editing item by clicking on it*/
    padding-right: 10px;
    min-width: 50px;
    min-height: 19px;
}

.item .checkbox{
    width: 17px;
    height: 23px;

    position: absolute;
    top: 0;
    left: 0;
}

.checkbox .square{
    width: 8px;
    height: 8px;
    margin: 4px;
    margin-top: 7px;
    border: 1px solid #444444;
}

.checkbox .checkmark{
    display: none;
    margin-left: 4px;
    margin-top: 4px;
}

.newItem{
    color: #333333;
    font-style: italic;
    font-size: 90%;
    padding: 3px;
    padding-left: 21px;
    padding-top: 4px;
    cursor: pointer;
}

/* this is the only way I found to prevent a empty line
in a newly created item */
.contenteditable br{
    display: none;
}

.item .pin{
    position: absolute;
    right: 4px;
    top: 4px;
}

.item .setDateTime{
    position: absolute;
    right: 26px;
    top: 4px;
}

.dateTimeField{
    position: absolute;
    right: 0px;

    min-width: 16px;
    max-width: 100px;

    font-style: italic;
}

.item .dateTimeField{
    display: none;
}

.hiddenIcon{
    visibility: hidden;
}

.item .dialogueElement{
    position: absolute;
    right: 0;
    width: 22px;
    background-color: inherit;

    z-index: 5;
    visibility: hidden;

    /* to display symbol in center of div */
    text-align: center;
    line-height: 24px;
}

.item .dialogue{
    top: -24px;     /* will be animated to -24px */
    height: 71px;   /* will be animated to 71px */
}


.item .setImportance{
    top: 0px;      /* will be animated to -24px */
    height: 24px;   /* will be animated to 24px */ 
    box-shadow: -1px -1px 4px -1px gray;
    font-weight: bold;
    color: #555555; /* compensate for bold */
}

.item .createSubtask{
    top: 47px;
    height: 24px;  /* will be animated to 24px */
    box-shadow: -1px 1px 5px -1px gray;
    font-weight: bold;
    color: #555555; /* compensate for bold */
}

.opacityButton{
    opacity:.6;
    cursor: pointer;
    /* z-index: 10;   dynamically modified */
}

.opacityButton:hover{
    opacity:1;
}

